<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <!--My CSS -->
  <link href="css/home.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <!-- JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- My JS -->
  <script src="js/myJavaScript.js"></script>
  <title>Bridgewater Investigations</title>

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <div class="container">
    <img class="logo img-fluid rounded mb-4 mb-lg-0" src="img/logo.svg" alt="Bridgewater Investigations logo" style="width: 200px">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="index.html">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about.html">History</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="resources.html">Our Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="gallery.html">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="gallery.html">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Page Content -->
<div class="container">

  <!-- Heading Row -->
  <div class="row align-items-center my-5">
    <div class="col-lg-7">
      <img class="img-fluid rounded mb-4 mb-lg-0" src="img/officeImg.jpg" alt="Office">
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-5">
      <h1 class="font-weight-light">Exploring the uncharted digital seas</h1>
      <p>Bridgewater Investigations is a multi-professional digital intelligence consulting firm, dedicated to providing the most competitive offerings for a variety of investigative services to our clients. Our professional team has several decades of experience in various intelligence disciplines, including financial, open-source, dark web, and threat intelligence, alongside many others. Premium customer services and investigations customized for your needs are standard for all engagements.
      </p>
      <a class="btn btn-outline-dark" href="#">Contact Us</a>
      <a href="https://www.linkedin.com/company/bridgewater-investigations/"><img class="img_svg" src="img/linkedin.svg" alt="linkedin Button"></a>
      <a href="https://twitter.com/bridgewaterinv"><img class="img_svg" src="img/twitter.svg" alt="Twitter Button"></a>
    </div>
    <!-- /.col-md-4 -->
  </div>
  <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5">
  <div class="container">
    <p class="m-0 text-center text-white">© 2021 Bridgewater Investigations | ALL RIGHTS RESERVED.</p>
  </div>
  <!-- /.container -->
</footer>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

</body>

</html>
