<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!--My CSS -->
  <link href="css/home.css" rel="stylesheet">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <title>Bridgewater Investigations</title>

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <div class="container">
    <img class="logo img-fluid rounded mb-4 mb-lg-0" src="img/logo.svg" alt="Bridgewater Investigations logo" style="width: 200px">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="index.html">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="history.html">History</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="ourTeam.html">Our Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="services.html">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contactUs.html">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Page Content -->
<div class="container">

  <!-- Heading -->
  <div class="jumbotron" style="background-color: #FFFFFF;margin-top: 75px;margin-left: 0px;margin-right: 0px;padding: 0px;">
    <h1 class="font-weight-light">Our Team</h1>
    <p class="lead">The Ones That Explore the Uncharted Digital Seas</p>
  </div>

  <!-- Cards -->
  <div class="card mb-3" style="max-width: 85%;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="img/person1.png" alt="..." style="width: 100%;">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Dr. JoAnne Turner-Frey</h5>
          <p class="card-text">JoAnne is the CEO and founder of Bridgewater Investigations. She started the company in 2014 after exiting a significant career in managed defense and intelligence contracting industries, where she performed research and analysis on arms trafficking in the middle east. She holds a Ph.D. in statistics from George Mason University and has an eye for uncovering hidden trends and correlations. JoAnne is always happy to talk to clients about any of Bridgewater Investigations’ various services and specialty capabilities.</p>
          <a href="https://www.linkedin.com/in/dr-joanne-turner-frey-91b255209">LinkedIn</a><a href="https://twitter.com/joanne_turner_f?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" style="margin-left: 10px;">Twitter</a>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="max-width: 85%;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="img/person2nd.png" alt="..." style="width: 100%;">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">David Petterton</h5>
          <p class="card-text">David is the Director of Financial Intelligence at Bridgewater Investigations. He has ten years of experience in forensic accounting, financial data analysis, and financial crimes enforcement. Prior to joining Bridgewater in 2015, he worked as a forensic accountant at Cellino & Barnes and was a contractor in the 2001 Enron accounting scandal investigation.</p>
          <a href="https://www.linkedin.com/in/david-p-453620209?trk=public_profile_browsemap_profile-result-card_result-card_full-click">LinkedIn</a>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="max-width: 85%;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="img/person2.png" alt="..." style="width: 100%;">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Lidya E. Martinez</h5>
          <p class="card-text">Lidya is Bridgewater Investigations’ Director of Human Intelligence where she manages near-subject intelligence efforts. She is a former public and private investigator and has also worked as a police detective in several high-profile cases. She holds degrees in behavioral science and cognitive psychology from Stanford and routinely adjuncts for local universities in the evenings. </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="max-width: 85%;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="img/person4.png" alt="..." style="width: 100%;">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Dr. Tom Hae-Seong</h5>
          <p class="card-text">Tom is the Director of Threat Intelligence. He oversees large-scale data interactions between clients and potential adversaries, including organized crime groups and APTs. Formerly a researcher at Chronicle Security, Tom now spends his time tracking, cataloging, and analyzing international cyberattacks. He holds a Ph.D. in computer science from the University of Illinois Urbana Champaign.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="max-width: 85%;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="img/person5.png" alt="..." style="width: 100%;">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Sir Rian S. Kapadia (OBE)</h5>
          <p class="card-text">Rian is Bridgewater’s Director of Physical Investigations. He handles all on-the-ground intelligence initiatives that require cultural detail and precision, as well as physical security and access techniques. A former anthropologist from Oxford University, Rian was knighted in 2015 for contributions to British history after successfully cleaning and lockpicking several ancient Roman chests at an archaeological site in Yorkshire.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="max-width: 85%;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="img/person6.png" alt="..." style="width: 100%;">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Greggory Foster</h5>
          <p class="card-text">Greggory (Greg) is Bridgewater’s Director of Public Intelligence, as well as the company’s operational security manager. As a previous archivist at the Internet Archive, Greg manages Bridewater’s public records collection and oversees all open-source intelligence collection methods, tools, and data. He also ensures the safety of all personnel online and in person while conducting investigations.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="max-width: 85%;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="img/person7.png" alt="..." style="width: 100%;">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Charlotte L. Bailey</h5>
          <p class="card-text">Charlotte is Bridgewater’s Director of Special Investigations. As a former Special Investigations Officer, Laura has expertise in counterintelligence and internet fraud investigations. Laura’s specialties at Bridgewater include Dark web investigations and cryptocurrencies, as well as novel collection methods and emerging techniques.
          </p>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5">
  <div class="container">
    <p class="m-0 text-center text-white">© 2021 Bridgewater Investigations | ALL RIGHTS RESERVED.</p>
  </div>
  <!-- /.container -->
</footer>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

</body>

</html>
